$font-family: "Kanit", Helvetica, sans-serif;

$font-size-small: 14px;
$font-size-medium: 15px;
$font-size-large: 16px;
$font-size-larger: 18px;
$font-size-largest: 19px;

$font-weight-thin: 100;
$font-weight-regular: 200;
$font-weight-bold: 300;
$font-weight-thick: 500;

$orange: #f66c3a;
$white: #fff;
$grey: #d8d8d8;
$red: #d6073e;
$blue: #1d95af;
$modal-mask: rgba(0, 0, 0, 0.8);
$box-shadow: #818181;
$border-focus: #555;

$max-logo-width: 250px;

$bp-smallest: 450px;
$bp-small: 555px;
$bp-medium: 915px;
$bp-large: 1100px;
$bp-largest: 1360px;
